.questions-search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;

    .questions-inner-search-container {
        width: 75%;
        display: grid;
        gap: 5%;
        grid-template-columns: 20% 75%;
    }

}

