.studies-container {
    margin : 50px 0;
}

.row-container {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
}

.col-lg-2 {
    width: 350px;
}

.card {
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #2a085c;
    color: white;
}

.coming-soon-text {
    text-align: center;
    background-color: red;
    width: 85%;
    color:  white;
    position: absolute;
    top: 100px;
    left: 30px;
    z-index: 12;
    transform: rotate(-45deg);
    font-weight: bold;
    font-size: 25px;
    cursor: default;
    border-radius: 5px;
}

.coming-soon .card-img-top {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.card-img-top {
    height: 200px;
    border-radius: 0;
    object-fit: cover;
}

.card-body {
    height: 180px;
    overflow: hidden;
}

.button-container {
    padding-left: 15px;
    margin-bottom: 25px;
}

.card .btn {
    width: 35%;
    height: 40px;
    background-color: rgb(99, 20, 136);
    font-weight: bold;
    border: 2px solid black;
    color: white;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.circle {
    height: 6px;
    width: 6px;
    background-color: white;
    transition: 0.5s ease-in-out;
    border-radius: 100%;
}

.card .btn:hover .circle {
    background-color: pink;
}

.opacity-0 button {
    cursor: default;
}