body {
    overflow-x: hidden;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 60px;
}

.title {
    color : black;
    font-weight: bold;
    margin: 0;
    font-size: 45px;
}

.text-container img {
    border-radius: 0;
    height: 75px;
    width: auto;
}