.bottom-right-search-container {
    background-color: green;
    display: grid;
    grid-template-rows: 13% 87%;
    border: 5px solid white;
    border-radius: 15px;
}

.inner-top-right-container {
    background-color: #2a085c;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid white;
    padding: 15px 0;
}

.inner-right  {
    width: 90%;
}

.label h2{
    color: white;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 15px;
}

.by-publisher-container {
    width: 90%;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 15px;
}

.input-container {
    display: flex;
}

.submit {
    width: 10%;
    border: none;
    color: white;
    background-color: rgb(99, 20, 136);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    gap: 10px;
    padding: 0 5px;
}

.submit span {
    font-size: 15px;
    margin: 0;
}

.circle {
    height: 7px;
    width: 7px;
    border-radius: 100%;
    background-color: white;
    transition: 0.5s ease-in-out;
}

.submit:hover .circle {
    background-color: purple;
}

.inner-bottom-right-container {
    background-color: rgb(187, 176, 188);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.data-list-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0;
    padding: 25px;
    list-style-type: none;
}

.data-container {
    height: 230px;
    background-color: rgb(99, 20, 136);
    display: flex;
    align-items: center;
    border: 5px solid white;
    border-radius: 5px;
    color: white;
}

.image {
    height: 75%;
    width: auto;
    border-radius: 0;
}

.text-container {
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #2a085c;
}

.inner-text-container {
    height: 60%;
    overflow: hidden;
    margin-bottom: 20px;
}

.tag-list-container {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    height: 10%;
    display: flex;
    gap: 10px;
    list-style : none;
}

.tag {
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag a {
    padding: 0 10px;
    text-decoration: none;
    background-color: rgb(99, 20, 136);
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}

.tag a .circle {
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background-color: white;
    transition: 0.5s ease-in-out;
}

.tag a:hover .circle {
    background-color: pink;
}   

.button {
    height: 18%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.button a {
    background-color: rgb(99, 20, 136);
    border: 3px solid black;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    margin-right: 2%;
}

.title , .type {
    font-weight: bold;
    margin: 0;
}

.type {
    margin-bottom: 5px;
}

.text {
    font-size: 15px;
}

.tags-containre {

}