.bottom-left-search-container {

}

.filter-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.date-container {
    border: 5px solid white;
    border-radius: 15px;
    height: 300px;
    width: 100%;
    background-color: rgb(187, 176, 188);
    display: flex;
    flex-direction: column;
}

.title-container {
    height: 75px;
    border-bottom: 5px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #2a085c;
    margin-bottom: 10px;
}

.title-container h4 {
    color: white;
    text-decoration: underline;
}

.type-container {
    border : 5px solid white;
    border-radius: 15px;
    height: 250px;
    width: 100%;
    background-color: rgb(187, 176, 188);
    display: flex;
    flex-direction: column;
}

.language-container {
    border : 5px solid white;
    border-radius: 15px;
    height: 600px;
    width: 100%;
    background-color: rgb(187, 176, 188);
    display: flex;
    flex-direction: column;
}

.inner-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.checkbox-container {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.checkbox-container label {
    font-size: 17px;
}