.home-right-banner {
    width: 45%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    /* border-right: 5px solid white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;  */
    /* border: 5px solid white;  */
    /* border-radius: 5px; */
}

.right-banner-inner-container {
    /* background-color: rgb(197, 114, 223); */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-top-inner-container {
    /* background-color: red; */
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.text-title {

}

.top-inner-image{
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    height: 300px;
    width: 300px;
}

.top-inner-image img {
    height: 100%;
    width: 291px;
    border-radius: 5px;
}

.right-bottom-inner-container {
    /* background-color: yellow; */
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 15%;
    align-items: center;

}

.bottom-inner-image {
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    height: 340px;
    width: 340px;
}

.bottom-inner-image img {
    height: 100%;
    border-radius: 5px;
    width: 331px;
}