
body {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contact-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 75px;
    padding-right: 75px;
    border-radius: 20px;
    gap: 35px;

    .top-side{
        background-color: #2a085c;
        padding: 0 20px;
        border-radius: 15px;

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
            gap: 15px;

            h1 {
                color: white;
                font-weight: bold;
                margin: 0;
            }
            img {
                border-radius: 0;
            }
        }

        .top-side-inner-container {
            display: flex;
            justify-content: space-around;
            margin-bottom: 50px;
            margin-top: 30px;
            padding: 20px 20px 20px 20px;
            border-radius: 20px;
            background-color: #8d6dbd;

            img {
                width: 500px;
                height: 500px;
                border-radius: 10px;
                margin-right: 20px;
            }
        
            h1 {
                margin-bottom: 15px;
            }
        
            .contact-container {
                width: 500px;
                height: 500px;
                padding: 40px;
                text-align: center;
                background-color: rgb(187, 176, 188);
                border-radius: 20px;
                max-width: 600px;
                margin: 0 auto;
            

            }
        
            .contact-form input, .contact-form textarea {
                width: 100%;
                height: 380px;
                padding: 10px;
                margin-bottom: 20px;
                border: 1px solid #ccc;
                border-radius: 5px;
                resize: none;
            }
        
            .contact-form button {
                background-color: #b694e9;
                font-weight: bold;
            }
        
            .contact-form button:hover {
                background-color: darkviolet; 
            }

        }

    }

    .bot-side {
        margin-bottom: 40px;
        color: black;
        padding: 20px 20px 20px 20px;
        border-radius: 20px;
        background-color: #2a085c;
        padding: 0 20px;

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            margin-top: 25px;

            h1 {
                color: white;
                font-weight: bold;
                margin: 0;
            }
        }

        .bot-side-inner-container {
            display: flex;
            justify-content: space-around;
            margin-bottom: 50px;
            margin-top: 30px;
            padding: 20px 20px 20px 20px;
            border-radius: 20px;
            background-color: #8d6dbd;
        
            iframe {
                margin-right: 20px;
                border-radius: 10px;
        
            }
        
            img {
                width: 500px;
                height: 500px;
                object-fit: cover;
                border-radius: 10px;
            }
        }

    }

}
