.pages {
    background-color: rgb(99, 20, 136);
    height: 93vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .upper-container {
        .title {
            text-align: center;
            padding: 25px 0;
            border-bottom: 2px solid white;
            color: white;
            font-weight: bold;
            margin: 0;
        }
    
        .titles-container {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding-inline-start: 0;
            cursor: pointer;
    
            .page-title-container{
                display: flex;
                justify-content: center;
                border-bottom: 2px solid white;
                padding: 10px 0;
    
                a {
                    text-decoration: none;
                    color: white;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    text-align: center;
                }
                
    
            }
    
            .selected {
                background-color: #2a085c;
            }
    
        }
    }

    .bottom-container {
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        padding-bottom: 150px;

        .example-button {

            a {
                color: white;
                font-weight: bold;
                background-color: #2a085c;
                padding: 8px;
                border: 2px solid white;
                border-radius: 15px;
                display: flex;
                align-items: center;
                gap: 5px;
                transition: 0.5s ease-in-out;
                text-decoration: none;

                .circle {
                    height: 6px;
                    width: 6px;
                    border-radius: 100%;
                    background-color: white;
                    transition: 0.5s ease-in-out;
                }

            }
            
            a:hover {
                border: 2px solid rgb(99, 20, 136);
                .circle {
                    background-color: rgb(99, 20, 136);
                }
            }

        }

    }

}
