body {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(79, 15, 121) !important;
}

.icon-container {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    height: 150px;
}

.icon {
    height: 150px !important;
    width: auto !important;
    border-radius: 0 !important;
}

label {
    font-weight: bold;
    font-size: 20px;
}

.form {
    padding : 5px 20px;

    width: 100%;
}

.form input {
    width: 100%;
}

.login-container {
    height: 450px;
    width: 30%;
    background-color: rgb(187, 176, 188);
    border-radius: 50px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-container h1 {
    text-align: center;
    text-shadow: 0 0 4px black, 0 0 4px black;
    
    color: white;
    margin: 20px;
    font-weight: bold;
}

.error {
    margin-top: 5px;
    color: red;
}

.button-container {
    display : flex;
    justify-content: end;
    gap : 20px;
}

.button-container button {
    background-color: rgb(187, 176, 188);
    border: 3px solid black;
    color: black;
    transition: 0.5s ease-in-out;
    font-weight: bold;
}

.button-container a {
    background-color: rgb(187, 176, 188);
    border: 3px solid black;
    color: black;
    transition: 0.5s ease-in-out;
    font-weight: bold;
}


.button-container button:hover {
    border: 3px solid black;
    color: white;
}

.button-container a:hover {
    border: 3px solid black;
    color: white;
}

.button-container .button1:hover {
    background-color: green;
}

.button-container .button2:hover {
    background-color: red;
}

.form .link-container {
    display : flex;
    justify-content: center;
}

.form .link-container a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: 5px;
}

.form .link-container a:hover {
    text-decoration: underline;
}