.go-up-button {
    background-color: rgb(99, 20, 136);
    border-radius: 100%;
    border: 5px solid black;
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 5px;
    display: block;
    opacity: 0;
    transition: 0.5s ease-in-out;
}